<%- include("partials/header.ejs", {title: `Class ${ session }`}) %> 

<body>
    <%- include("partials/nav.ejs", {nav: 1}) %> 
    <div class="class-main">
        <div class="class-head">
            <div class="btn"><span>Session <%= session %></span></div>
            <div class="btn"><span><%= clas1 %></span></div>
        </div>
        <a class="submit-fee" href="/sessions/<%= session %>/classes/<%= clas %>/submit-fee"><div class="btn"><span>Submit Fee</span></div></a>
        <div class="btn print-btn"><span id="print-btn">Print</span></div>
        <table class="class-table" id="main-data">
            <thead>
                <tr>
                    <th colspan="18">Month Wise School Fee</th>
                </tr>
            </thead>
            <tbody class="t-body">
                <tr class="std-row">
                    <td><span>Sr#</span></td>
                    <td><span>Modify</span></td>
                    <td><span>Student Name<br><hr>Father Name</span></td>
                    <td>Ad. No</td>
                    <td>Section</td>
                    <td> <span> Apr. </span> <br> Fine <br> S.Fund </td>
                    <td> <span> May </span> <br> Fine <br> S.Fund </td>
                    <td> <span> Jun. </span> <br> Fine <br> S.Fund </td>
                    <td> <span> Jul. </span> <br> Fine <br> S.Fund </td>
                    <td> <span> Aug. </span> <br> Fine <br> S.Fund </td>
                    <td> <span> Sep. </span> <br> Fine <br> S.Fund </td>
                    <td> <span> Oct. </span> <br> Fine <br> S.Fund </td>
                    <td> <span> Nov. </span> <br> Fine <br> S.Fund </td>
                    <td> <span> Dec. </span> <br> Fine <br> S.Fund </td>
                    <td> <span> Jan. </span> <br> Fine <br> S.Fund </td>
                    <td> <span> Feb </span> <br> Fine <br> S.Fund </td>
                    <td> <span> Mar. </span> <br> Fine <br> S.Fund </td>
                    <td><span> Total </span></td>
                </tr>
                <% let i = 1; %> 
                <% allStd.forEach(function(student){ %> 
                    <tr class="<%=student[3]%>">
                        
                        <td><%= i++; %> </td>
                        <td><a href="/sessions/<%= session %>/classes/<%= clas %>/modify/<%= student[0] %>"><img id="edit-btn" title="Edit" style="width: 40px; margin: 0 1px 0 1px" src="/edit.png" alt=""></a>
                            <a href="/sessions/<%= session %>/classes/<%= clas %>/rm/<%= student[0] %>"><img id="rm-btn" title="Delete" style="margin: 0 1px 0 1px; width: 40px;" src="/remove.png" alt=""></a>    
                        </td>
                        <!-- student name/fnae/addno -->
                        <td><%= student[1] %><br><hr><%= student[2] %></td>
                        <td><%= student[0] %></td>
                        <!-- section -->
                        <td><%= student[3] %></td>
                        <!-- fee -->
                        <% for (let j = 4; j < 16 ; j++){ %> 
                            <% if (student[j] !== null) {%>
                        <td><%= student[j][0] %><br><%= student[j][1] %><br><%= student[j][2] %></td>
                        <% } else{%>
                            <td></td> 
                        <% } %> 
                        <% } %> 
                        
                        <td><%= student.at(-1) %></td>
                    </tr>
                    <% }) %> 
                <tr>
                    <td colspan="5" style="text-align:center;"><span>Grand Total</span></td>
                    <% console.log(monthSum); monthSum.forEach(function(mont){ %> 
                    <td><%= mont %></td>
                    <% }) %>
                    <td id="g-total"><%= grandSum %></td>
                </tr>
            </tbody>
        </table>
    </div>
    <%- include("partials/foot.ejs") %>
    <script>
        let table = document.getElementById("main-data")

    </script>
</body>

</html>